.lightbox {
  float: left;
}
.lightbox img {
  width: 400px;
  height: auto;
}
.form {
  float: right;
  max-width: 400px;
}
.form label,
.form button {
  display: block;
  margin-top: 5px;
}

ul {
  display: block;
  float: left;
  width: 100%;
  padding: 0;
}
ul li {
  max-width: 200px;
  display: inline-block;
  box-sizing: border-box;
  padding: 0 5px;
}
ul li img {
  max-width: 100%;
}
