body {
  margin: 0;
}
header {
  padding: 5px;
  box-sizing: border-box;
}
.l {
  float: left;
}
.r {
  float: right;
}

.w70 {
  width: 70%;
}
.w30 {
  width: 30%;
}

.form {
  max-width: 400px;
}
.form label,
.form button {
  display: block;
  margin-top: 5px;
}
.form label,
.form input,
.form textarea {
  width: 100%;
}
.lightbox {
  padding: 5px;
  box-sizing: border-box;
  text-align: center;
}
.lightbox img {
  max-width: 100%;
  width: auto;
  max-height: 200px;
}
.clear-fix {
  float: none;
  clear: both;
}
ul {
  display: block;
  width: 100%;
  padding: 0 5px;
  box-sizing: border-box;
}
ul li {
  max-width: 200px;
  display: inline-block;
  box-sizing: border-box;
  padding: 0 5px;
}
ul li img {
  max-width: 100%;
}
